.navbar-container {
    width: 100%;
    padding: 20px;
    background:none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
  }
.navbar {
    /* background-color: rgba(255, 255, 255, 0.95); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); */
}
.navbar a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
    transition: color 0.3s ease;
}
  
.navbar a:hover {
    color: rgb(147, 135, 119);
}
  
/* .page-wrapper {
    padding-top: 30px;
    position: relative;
    z-index: 1;
} */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: none;
    color: white; 
    text-align: center;
    /* padding: 5px; */
    /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(10px);
}