/* .navbar-container {
  width: 100%;
  padding: 20px;
  background: none;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
} */

.navbar {
  background-color: #fb8261;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 30px 0px;
  z-index: 1000;
}

.brand {
  display: flex;
  align-items: center;
  margin-left: 300px;
}

.brand h1 {
  font-size: 32px;
  color: white;
  margin: 0;
  margin-left: 50px; /* Spacing between logo and text */
  font-family: "Arial", sans-serif;
}

.brand-icon {
  width: 40px;
  height: 40px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  margin-right: 60px;
}

.navbar a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  margin: 0 20px;
  font-weight: bold;
  transition: color 0.3s ease, font-weight 0.3s ease, text-decoration 0.3s ease;
}

.navbar a:hover {
  color: white;
  font-weight: bolder;
  text-decoration: underline;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: none;
  color: rgb(74, 71, 71);
  text-align: center;
  backdrop-filter: blur(10px);
}
