.dog-details-container {
  background-color: #f9f9f9;
  padding: 40px;
  border-radius: 15px;
  max-width: 1000px;
  margin-top: 100px;
  margin: 130px auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.dog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.dog-name {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 0;
  margin-right: 450px;
}

.dog-photo {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dog-info-grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.dog-info-column {
  flex: 1;
  min-width: 45%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dog-info-column p {
  margin: 10px 0;
  font-size: 1.1rem;
  color: #555;
}

.dog-info-column strong {
  color: #fb8261;
}

.divider {
  margin: 30px 0;
  border: none;
  border-top: 2px solid #eee;
}
