
.container-register {
  max-width: 600px;
  margin: 50px auto;
  padding: 60px 40px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-register h1 {
  text-align: center;
  margin-bottom: 30px; 
  color: #333;
  font-size: 28px;
}

.container-register div {
  margin-bottom: 20px; 
}

.container-register input[type="text"],
.container-register input[type="email"],
.container-register input[type="password"] {
  width: 100%;
  padding: 15px; 
  font-size: 18px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.container-register input[type="text"]:focus,
.container-register input[type="email"]:focus,
.container-register input[type="password"]:focus {
  border-color: rgb(191, 137, 37);
  outline: none;
  box-shadow: 0 0 5px rgb(191, 137, 37);
}

.container-register button {
  width: 100%;
  padding: 15px; 
  background-color: #fb8261;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.container-register button:hover {
  background-color: #527193;
}

.container-register span {
  margin: 5px 0;
  font-size: 16px;
  color: red;
}

.message-success {
  margin: 5px 0;
  font-size: 20px;
  color: green;
}

@media (max-width: 480px) {
  .container-register {
    max-width: 90%; 
    padding: 30px; 
    margin: 20px auto;
  }

  .container-register h1 {
    font-size: 22px;
  }

  .container-register button {
    font-size: 16px;
  }
}


.register-page {
  background-color: #fef4eb; 
  height: 100vh; 
  padding-top: 70px
}
